// Navigation code here

.mainHeader {
  .colFlex();

  width: 100%;
  padding: 1% 0;

  background-color: @nav-bg;

  a:link,
  a:visited {
    line-height: 1.4;
    font-size: 1.6rem;
    padding: 0 1rem;
    color: @nav-font;
    text-decoration: none;
  }
}
